# ===== Dependencies =====
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ===== Build outputs =====
# Vite
**/dist
**/dist-ssr
/build

# Next.js
**/.next
/out

# ===== Logs =====
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# ===== Testing =====
/coverage

# ===== Env =====
.env*
*.local

# ===== OS / Editor =====
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===== Vercel =====
.vercel

# ===== TS =====
*.tsbuildinfo
next-env.d.ts